@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    &::-webkit-scrollbar{
        display: none;
       }
}
body{
    font-family: 'Poppins', sans-serif;
}
.nav{
    margin-left: 60%;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.5rem;
    font-weight: 800;
}

h4{
    font-size: 1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
}
h6{
    color: #d8d8d8;
}
.navbar{
    font-size: 16px;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px; 
    color: #0000;
    transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar i:hover {
 color: rgb(95, 196, 233); 
}
.navbar i{
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}
@media only screen and (max-width:990px){
    .nav{
        margin: 10px;
    }
    .nav ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .nav ul .fa{
        margin: 20px 5px 10px 20px;
    }
}
#home{
    background-image: url('../imgs/bg.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x:0px;
    background-position-y: 50px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
}
#home span{
    color: rgb(95, 196, 233); ;
}
button{
    font-size: 0.1rem;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s ease;
}
button:hover{
    background-color: rgb(95, 196, 233);
}
#brand hr{
    width: 30px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: goldenrod;
    margin-left: 550px;
}

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#new button:hover{
    background-color: grey;
    transition: 1s ease;
}
#new .one{
    position: relative;
}
#new .one .details{
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.6;
    background-color: rgb(1,1,1);
    width: 100%;
    height: 100%;
}
#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* text-align: start; */
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* text-align: right; */
}
#new .one .details:hover{
    background-color: rgb(66, 69, 69);
}
#new hr{
    width: 30px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: goldenrod;
    margin-left: 610px;
}

/* product */
.products{
    cursor: pointer;
    margin-bottom: 2rem;
}

.products img{
    transition: 0.3s all;
    height: 50%;
    width: 70%; 
}
.products:hover img{
    opacity: 0.7;
    /* border-radius: 34px; */
}
.products .buy-btn{
   
    /* transform: translateY(50px);
    opacity: 0; */
    transition: 0.3s all;
    background-color: #fb774b;
    color: #fff;
}
.products .buy-btn:hover{
    transition: 1s all;
    background-color: #1d1d1d;
    color: #fff;
}
/* .products:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;
    transition: 0.3s all;
    background-color: #1d1d1d;
    color: #fff;
} */
#feature hr{
    width: 30px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: goldenrod;
    margin-left: 540px;
}

.star{
    padding: 10px 0;
}
.star i{
    font-size: 0.9 rem;
    color: gold;
}

/* search feature */
#search hr{
    width: 30px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: goldenrod;
    /* margin-left: 550px; */
}


/* banner */
#banner{
    background-image: url('../imgs/banner.webp');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
}
#banner h1{
    color: rgb(117, 124, 128);
}
#banner h4{
    color: #d8d8d8;
}
#banner button{
    background-color: rgb(76, 83, 84);
}
#banner button:hover{
    background-color: black;
}

/* footer */
footer{
    background-color: #222222;
}
footer h5{
    color: #646161;
    font-weight: 700;
    font-size: 1.2rem;
}
footer li{
    padding-bottom: 4px;
}
footer li a{
    font-size: 0.8rem;
    color: #999;
    text-decoration: none;
}
footer li a:hover{
    color: #d8d8d8;
}
footer .copyright a{
color: #000;
height: 40px;
width: 40px;
background-color: #fff;
display: inline-block;
border-radius: 50%;
text-align: center;
line-height: 38px;
transition: 0.3s ease;
margin: 0 3px;
}
footer .copyright img{
    width: 50%;
}
footer .copyright a:hover{
    color: #fff;
    background-color: coral;
}
footer p{
    color: #999;
    font-size: 0.8rem;
}

.logo{
    width: 60px;
    height: 60px;
}

/* single-product */
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col img{
height: 100px;
width: 100px;
cursor: pointer;
}
.single-product input:focus{
    outline: none;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

/* cart */
.cart table{
    width: 100%;
    border-collapse: collapse;
}
.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}
.cart th{
    /* text-align: center; */
    padding: 5px 10px;
    background-color: #fb774b;
    color: #fff;
}
.cart td{
    padding: 10px 20px;
}
.cart td img{
    width: 80px;
    height: 90px;
    margin-right: 10px;
}
.cart td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
.cart td a{
    color: #fb774b;
}
.cart .remove-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    border: none;
    width: 100%;
}
.cart .edit-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    border: none;
    
}
.cart .product-info p{
    margin: 3px;
}
.cart-total{
    display: flex;
    justify-content: flex-end;
}
.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #fb774b;
}
/* td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
} */

.checkout-container{
    display: flex;
    justify-content: flex-end;
}
.checkout-container .checkout-btn{
    background-color: #fb774b;
    color: #fff;
}


/* Login */
#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}
#login-form input{
    width: 50%;
    margin: 5px auto;
}
#login-form #login-btn{
    background-color: #fb774b;
    color: #fff;
}
#login-form #login-btn:hover{
    background-color: #231f1e;
}
#login-form #register-url{
    color: #fb774b;
}


/* Register */
#register-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}
#register-form input{
    width: 50%;
    margin: 5px auto; 
}
#register-form #register-btn{
    background-color: #fb774b;
    color: #fff;
}
#register-form #register-btn:hover{
    background-color: #231f1e;
}
#register-form #register-url{
    color: #fb774b;   
}


/* account-form */
#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}
#account-form input{
    margin: 5px auto;
}
#account-form #change-pass-btn{
    color: #fff;
    background-color: #fb774b;
}
.account-info #order-btn,#logout-btn{
    color: #fb774b;
    text-decoration: none;
}

/* order */
.orders table{
    width: 100%;
    border-collapse: collapse;
}
.orders .product-info{
    display: flex;
    flex-wrap: wrap;
}
.orders th{
    text-align: left;
    padding: 5px 20px;
    color: #fff;
    background-color: #fb774b;
}

.orders td{
    padding: 10px 20px;
}

.orders td img{
   width: 80px;
   height: 90px;
   margin-right: 10px;
}

.orders .orders-detail-btn{
    color: #fff;
    background-color: #fb774b;
}


/* checkout */
#checkout-form .checkout-small-element{
    display: inline-block;
    width: 47%;
    margin: 10px;
}
#checkout-form .checkout-large-element{
    width: 97%;
}
#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}
#checkout-form #checkout-btn{
    color: #fff;
    background-color: #fb774b;
}

/* contact */
#contact span{
    color: #fb774b;
}

/* paypal button */
#paypal-button-container{
margin-left: 15%;
}

/* cart quantity */
.cart_quantity{
    background-color: #fb774b;
    color: #fff;
    padding: 2px 5px;
    margin: -5px;
    border-radius: 50%;
    font-size: small;
}